<%- include("header.ejs") %>

<body>
    <%- include("navbar.ejs") %>
    <% if (inserted == true) { %>
    <div class="alert alert-success">
        <strong>Success!</strong> New product inserted successfully!
    </div>
    <% } else if (inserted == false) { %>
    <div class="alert alert-success">
        <strong>Failure!</strong> Could not insert new product!
    </div>
    <% } %>
    <div class="d-flex justify-content-center ">

        <form class="col-sm-6" action="/insert_product" method="post">
            <h1>Add New Product</h1>
            <div class="form-group">
                <label for="name">Peoduct name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter product name">
            </div>
            <div class="form-group">
                <label for="description">Peoduct description</label>
                <textarea class="form-control" id="description" name="description"
                    placeholder="Enter product description"></textarea>
            </div>
            <div class="form-group">
                <label for="group">Product group</label>
                <select class="form-control" id="group_id" name="group_id">
                    <% for(let i = 0; i<groups.length; i++){ %>
                    <option value=<%= groups[i].id %>> <%= groups[i].g_name %></option>
                    <% } %>
                </select>
            </div>
            <div class="form-group">
                <label for="measuring unit">Measuring unit</label>
                <select class="form-control" id="measuring_unit" name="measuring_unit">
                    <option>pieces</option>
                    <option>kg</option>
                    <option>gm</option>
                    <option>ltr</option>
                    <option>Ml</option>
                </select>
            </div>
            <div class="form-row">
                <div class="col">
                    <label>Cost price in Rs</label>
                    <input type="text" class="form-control" placeholder="Enter cost price" name="cost_price">
                </div>
                <div class="col">
                    <label>Selling price in Rs</label>
                    <input type="text" class="form-control" placeholder="Enter cost price" name="selling_price">
                </div>
                <div class="col">
                    <label>MRP</label>
                    <input type="text" class="form-control" placeholder="Enter cost price" name="mrp">
                </div>
                <div class="col">
                    <label>Discount</label>
                    <input type="text" class="form-control" placeholder="Enter cost price" name="discount">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>

<%- include("footer.ejs") %>