<%- include("header.ejs") %>

<body>
    <%- include("navbar.ejs") %>
    <% if (sold == true) { %>
    <div class="alert alert-success">
        <strong>Success!</strong> product sold successfully!
    </div>
    <% } else if (sold == false) { %>
    <div class="alert alert-danger">
        <strong>Failure!</strong> Could not Sell product!
    </div>
    <% } %>
    <div class="d-flex justify-content-center ">

        <form class="col-sm-6" action="/quick_sell" method="post">
            <h1>Quick Sell Product</h1>
            <div class="form-group">
                <label for="group">Product Name</label>
                <select class="form-control" id="product_id" name="product_id">
                    <% for(let i = 0; i<products.length; i++){ %>
                    <option value=<%= products[i].id %>> <%= products[i].name %></option>
                    <% } %>
                </select>
            </div>
            <div>
                <label>Quantity</label>
                <input type="text" class="form-control" placeholder="Enter quantity" name="quantity">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>

<%- include("footer.ejs") %>