<%- include("header.ejs") %>

<body>
  <%- include("navbar.ejs") %>
  
  <div class="d-flex justify-content-center">
    <form class="col-sm-6" action="/creditors_update" method="POST">
      <h1>Update Creditor</h1>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          value="<%=creditors[0].name%>"
          placeholder="Enter Creditor name"
        />
      </div>
      <div class="form-group">
        <label for="description">Address </label>
        <input type="text"
          class="form-control"
          id="address"
          name="address"
         
          value="<%=creditors[0].address%>"
          placeholder="Enter Creditor Address"
        />
      </div>
      <div class="form-group">
        <label for="group">Phone number</label>
        <input
          type="number"
          class="form-control"
          id="phone"
          name="phone"
          value="<%=creditors[0].phone%>"
          placeholder="Enter Phone number"
          maxlength="12"
        />
      </div>
      <div class="form-group">
        <label for="measuring unit">Total amount Payable</label>
        <input
          type="number"
          class="form-control"
          id="total_amt_payable"
          name="total_amt_payable"
          value="<%=creditors[0].total_amt_payable%>"
          placeholder="Enter Total amount payable  number"
          maxlength="12"
        />
      </div>
      <div class="form-group">
        <label for="measuring unit">Total amount Paid</label>
        <input
          type="number"
          class="form-control"
          id="amt_paid"
          name="amt_paid"
          placeholder="Enter Total amount paid  number"
          value="<%=creditors[0].amt_paid%>"
          maxlength="12"
        />
        <input type="hidden" name="id" value="<%=creditors[0].id%>"/>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>

<%- include("footer.ejs") %>
